
/* NAV STYLES */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.right-side {
    display: flex;
}


.nav-wrapper > .left-side > div {
   margin-right: 20px;
   font-size: 0.9em; 
   text-transform: uppercase;   
}
.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: black;
    text-decoration-color: #fbeee6;
    transition: color 0.5ms;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #935116;
}
.nav-link-wrapper a:hover {
    color: #fbeee6;
}

.right-side >.brand > div {
    color: black;
    letter-spacing: 1mm;
    border-bottom: 1px solid #935116;
}

/* Cart Styling */

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #935116;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #935116;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
  display: flex;
  justify-content: space-evenly;

}


.cart-item {
    
   width: 30%;
}
.cart-items {
    display: flex;
    justify-content: space-evenly;
 }

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #935116;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}


.btn-danger {
    color: white;
    background-color: black;
    border: none;
    border-radius: .3em;
    size: inherit;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 24px;
    width: 35px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    /* margin-right: 20px; */
}

.cart-row:last-child {
    border-bottom: 1px solid red;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: #935116;
    margin-right: 20px;
}

.cart-total-price {
    color: #935116;
    font-size: 1.1em;
}

 .cart-content {
    /* flex-direction: column; */
    /* justify-content: center; */
    border: 4px solid white;
    width: 20%;
    background-color: #fbeee6;
    padding: 30px; 

}

/* Product Styling */


#product-inventory {
    background: #935116;
    padding: 30px;
    width: 80%;
    border: 4px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.product-inventory-and-cart-content  {
    display: flex;
    width: 100%;
    

}
.flip-card {
    justify-content: space-between;
    background-color: transparent;
    width: 200px;
    height: 200px;
    border: 3px solid transparent;
    perspective: 1000px;
    
    
}

 .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d; 
    flex: auto;
 }
  
   .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } 

  .flip-card-front, .flip-card-back {
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  } 

   .flip-card-front {
    background-color: #fbeee6;
    color: #935116;
  }
  .flip-card-back {
    background-color: white;
    color: #935116;
    transform: rotateY(180deg);
    text-size-adjust: auto;
  } 
  .brand-one {
      text-align: center;
      flex: auto;
      width: 100%;
  }
  .brand-two {
    text-align: center;
    flex: auto;
    text-size-adjust: auto;  
    

}
.btn-purchase {
    flex-wrap: wrap;
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.btn-primary {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: .5em 1em;
	font-weight: 500;
	text-decoration: none;
    color: black;
    background: #935116;
    border: 3px solid #fbeee6;
}
.description {
    text-align: center;
   
    width: 100%;
   
    padding: .20em;
    
    /* border: 1px solid black; */
}